:root {
  --main-denim: #173B61;
  --main-turquoise: #17616E;
  --main-greyblue-inactive: #7697A0;
  --main-greyblue-active: #4c717b;
  --main-greyblue: #7697A0;
  --main-orange: #fd8916;
  --main-pure: #ffebd0;
  --main-spotify-black: #191414;

  --header-height: 100px;
  --body-height: 900px;

  --body-top-left-radius: 0px;
  --body-top-right-radius: 0px;
  --body__rectangle-negative-float: -50px;

  --tab-container-width: 1320px;

  --tab__rectangle-radius: 20px;
  --tab-content-padding: 10px;
  --tab-content-height: var(--logo__image_width );
  --tab-content-font-size: 32px;
  --tab-content-rectangle-width: 400px;
  --tab-content__title--text-margin-right: 50px;

  --logo__image_width: 80px;
  --logo__image_padding-top: 16px;

  --music-container-margin-left: 1100px;
  --music-container-width: 680px;

  --holiday-container-margin-left: var(--music-container-margin-left);

  --yellow-300: #e0941d;
  --cyan-600: #023037;
  --lavender-200: #B3B0FA;
  --cyan-300: #15A0B2;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.tab_navigator {
  text-decoration: none;
}

[data-section="brief"] {
  background-color: var(--main-denim);
  height: 100vh;
  width: 100vw;
}
.brief__rectangle {
  position: relative;
  z-index: 96;
  top: 10vh;
  border-top-left-radius: var(--body-top-left-radius);
  border-top-right-radius: var(--body-top-right-radius);
  background-size: cover;
  background-position: center;
}

.body__horizontal-divider {
  position: absolute;
  display: flex;
  left: 50%;
  top: 43%;
  z-index: 3;
  width: 46%;
  background: white;
  height: 1px;
}

.body__vertical-divider {
  position: absolute;
  display: flex;
  left: 49%;
  top: 54px;
  z-index: 3;
  width: 1px;
  background: white;
  height: 80%;
}

.aboutme-container__grid {
  display: grid;
  position: absolute;
  grid-template-columns: 200px auto;
  width: 40%;
  height: 80%;
  margin-left: 70px;
  margin-top: 50px;
}

.aboutme-container__photo-grid-delim {
  position: absolute;
  display: grid;
  grid-template-rows: 80% auto;
  border: yellow solid 10px;
  width: 30%;
  height: 100%;
}

.aboutme-container__picture {
  display: flex;
  width: 80%;
  border-radius: 1000px;
  top: 100px;
  align-self: end;
  margin: 0 auto 0 auto;
}

.aboutme-container__unsivible-item {
  display: flex;
  width: 100%;
  height: 80%;
}

.content__bubble-grid {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 10px;
}

.content__bubble-message-rectangle {
  display: flex;
  background: var(--main-greyblue);
  border-radius: 30px;
  z-index: 1;
}

.content__bubble-message-rectangle--text-aligned {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content__bubble-message-rectangle--filter-blur {
  background: linear-gradient(135deg, var(--main-greyblue) 0%, var(--main-turquoise) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content__bubble-message-text {
  z-index: 2;
  font-family: Merriweather Sans, sans-serif;
  font-size: 32px;
  width: 90%;
}

.content__bubble-message-text--color-pure {
  color: white;
}

.holiday-container__content {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Scary Halloween Font", "Arial", sans-serif;
  font-size: 6rem;
}

.holiday-container__content--text-color-orange {
  color: #CD8A39;
}

.holiday-container__content--text-link-disabled {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.holiday-container__grid {
  display: grid;
  position: absolute;
  grid-template-rows: 111px auto;
  align-items: center;
  left: var(--music-container-margin-left);
  width: 40vw;
  height: 50vh;
  left: 55%;
  top: 45%;
}

.holiday-container__title {
  display: block;
  text-align: center;
  font-family: Merriweather Sans, serif;
  font-size: 2.5rem;
}

.holiday-container__title--text-color-pure {
  color: var(--main-pure);
}

.track-bubble__album-cover {
  max-width: 100%;
  height: auto;
  width: 134px;
  border-radius: 15px;
}

.track-rows__grid {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 680px;
  gap: 10px;
}

@media (max-width : 1238px) {
  .track-bubble__album-cover {
    display: none;
  }
}

.info__grid {
  z-index: 1;
}

.info__rectangle {
  position: absolute;
  background: var(--main-spotify-black);
  width: 500px;
  height: 134px;
  border-radius: 39px;
}

.track-bubble__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 140px;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 1747px) {
  .info__rectangle {
    position: absolute;
    background: var(--main-spotify-black);
    width: 250px;
    height: 134px;
    border-radius: 39px;
  }
}

@media (max-width : 1500px) {
  .info__rectangle {
    display: none;
  }
}

.info__title-author {
  display: block;
  z-index: 2;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 22px;
  color: white;
}

.info__title-author--text-clickable {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.info__title-track {
  display: block;
  z-index: 3;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info__rectangle--text-p-font-gotham-black {
  font-family: "Gotham", sans-serif;
}

.info__rectangle--text-h1-font-gotham-black {
  font-family: "Gotham Black", sans-serif;
}

.music-container__rectangle {
  position: absolute;
  width: 5vw;
  left: 55%;
  top: 10%;
}

.info__title-track--text-clickable {
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.header__rectangle {
  height: var(--header-height);
  background: var(--main-pure);
  margin: 0;
  padding: 0;
}

.header__rectangle--display-flex {
  display: flex;
  grid-template-columns: 139px 1fr 1fr;
}

.header__rectangle--position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 97;
}

.logo__image {
  display: flex;
  width: var(--logo__image_width);
  padding: var(--logo__image_padding-top);
}

.logo__image:hover {
  cursor: pointer;
}

.logo__link {
}

.tile__github {
  width: 60px;
}

.tile__grid {
  margin-left: 1%;
  display: grid;
  width: 400px;
  margin-top: px;
  grid-template-columns: 15% 23% 17% 18% 1fr;
  gap: 4.5%;
  justify-content: center;
  align-items: center;
}

.title_grid a {
  padding: 0;
  margin: 0;
  border: none;
}

.tile__link {
  vertical-align: bottom;
}

.tile__telegram {
  width: 60px;
}

.tile__spotify {
  width: 60px
}

.tile__pinterest {
  width: 60px
}

@media (max-width : 1849px) {
  .tile__pinterest {
    display: none;
  }
}

.tile__vkontakte {
  width: 90px;
}

@media (max-width : 992px) {
  .tile__vkontakte {
    display: none;
  }
}

.tab-container__grid {
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: var(--tab-container-width);
  margin-top: 5px;
  height: var(--tab-content-height);
}

.content__laptop {
  width: 50px;
  margin-right: 20px;
}

.content__music-sign {
  width: 40px;
  margin-right: 20px;
}

.content__pumpkin {
  width: 50px;
  margin-right: 20px;
}

.content__rectangle {
  height: var(--tab-content-height);
  border-radius: var(--tab__rectangle-radius);
  width: var(--tab-content-rectangle-width);
  max-width: var(--tab-content-rectangle-width);
  min-width: 380px;
  position: relative;
  z-index: 1;
  background: var(--main-greyblue);
}

@keyframes activateBorder {
  0% {
    border: solid var(--main-greyblue-active) 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  100% {
    border: solid var(--main-greyblue-active) 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;  
  }
}

@keyframes deactivateBorder {
  0% {
    border: solid var(--main-greyblue-active) 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  100% {
    border: solid var(--main-greyblue-active) 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;  
  }
}

.content__rectangle--inactive {
  background: var(--main-greyblue-inactive);
  animation: deactivateBorder 0.5s ease forwards;
}

.content__rectangle--active {
  background: var(--main-greyblue-active);
  animation: activateBorder 0.5s ease forwards;
}

.content__title {
  display: flex;
  font-family: Merriweather Sans, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--tab-content-font-size);
}

.content__title--hover-scale-up {
  transition: transform ease .7s
}

.content__title--hover-scale-up:hover {
  transform: scale(1.1)
}

.content__title--hover-scale-up .content__laptop,
.content__title--hover-scale-up .content__music-sign,
.content__title--hover-scale-up .content__pumpkin {
  transform: scale(1);
  transition: transform 0.7s ease;
}

.content__title--hover-scale-up:hover .content__laptop,
.content__title--hover-scale-up:hover .content__music-sign,
.content__title--hover-scale-up:hover .content__pumpkin {
  transform: scale(1.3);
  transition: transform 0.8s ease;
}

.content__title--text-selection-color-denim::selection {
  background-color: var(--main-denim);
}

.content__title--color-pure {
  color: var(--main-pure);
  z-index: 2;
}

[data-section="me"] {
  background-color: var(--lavender-200);
}
.me__rectangle {
  position: relative;
  width: 100vw;
  height: 150vh;
}

[data-section="music"] {
  background-color: var(--yellow-300);
}
.music__rectangle {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

[data-section="free_time"] {
  background-color: var(--cyan-600);
}
.free_time__rectangle {
  position: relative;
  width: 100vw;
  height: 150vh;
}

[data-section="contact_me"] {
  background-color: white;
}
.contact_me__rectangle {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.contact_me__footer_grid {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-content: center;
  align-items: center;
}
.contact__me_input-username {
  font-size: 1rem;
  position: relative;
  --primary: #0088cc;
}

.contact_me__input {
  all: unset;
  width: 100%;
  color: #333;
  padding: 0.8rem;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.contact_me__label {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  color: #9e9e9e;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.contact_me__input:focus {
  border: 1px solid var(--primary);
  background-color: #ffffff;
  box-shadow: 0 0 0 1px var(--primary);
}

.contact_me__input:is(:focus, :valid) ~ .contact_me__label {
  transform: translateY(-140%) scale(0.85);
  background-color: #ffffff;
  padding-inline: 0.3rem;
  color: var(--primary);
  border-radius: 3px;
}
