:root {
  --main-denim: #173B61;
  --main-turquoise: #17616E;
  --main-greyblue-inactive: #7697A0;
  --main-greyblue-active: #4c717b;
  --main-greyblue: #7697A0;
  --main-orange: #fd8916;
  --main-pure: #ffebd0;
  --main-spotify-black: #191414;
  --main-chromakopia: #01823E;

  --header-height: 100px;
  --body-height: 900px;

  --body-top-left-radius: 0px;
  --body-top-right-radius: 0px;
  --body__rectangle-negative-float: -50px;

  --tab-container-width: 1320px;

  --tab__rectangle-radius: 20px;
  --tab-content-padding: 10px;
  --tab-content-height: var(--logo__image_width );
  --tab-content-font-size: 32px;
  --tab-content-rectangle-width: 400px;
  --tab-content__title--text-margin-right: 50px;

  --logo__image_width: 80px;
  --logo__image_padding-top: 16px;

  --music-container-margin-left: 1100px;
  --music-container-width: 680px;

  --holiday-container-margin-left: var(--music-container-margin-left);

  --yellow-300: #e0941d;
  --cyan-600: #023037;
  --lavender-200: #B3B0FA;
  --cyan-300: #15A0B2;

  --tablet-width: 1024px;
  --phone-width: 430px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Keep body overflow hidden to control scroll in .content_container */
}


.header__rectangle {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 350px;
  height: 100vh;
  background: rgb(243, 241, 241);
  z-index: 1000;
  justify-content: space-between;
}

.header__bottom {
  padding-top: 15px;
  margin-bottom: 25px;
  justify-content: center;
}

@media (max-width: 1025px) {
  .header__content_sign {
    justify-content: center;
    position: absolute;
    left: 85%;
    display: flex;
    top: 1%;
    width: 30px;
  }

  .header__content_button {
    display: flex;
    position: absolute;
    top: 1%;
    left: 90%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

@media (max-width: 430px) {
  .page__rectangle {
    display: none;
  }
}

@media (min-width: 1025px) {
  .header__content_sign {
    display: none;
  }

  .header__content_button {
    display: none;
  }
}

.header__logo {
  display: flex;
  width: 200px;
  border-radius: 20px;
  justify-content: center;
  align-items: center; 
  margin: auto;
  margin-top: 30px;
}

.header__icon {
  width: 40px;
}

.header__contacts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 5%;
}


.header__divider {
  display: flex;
  width: 90%;
  height: 1px;
  margin: 10% auto;
  background: var(--main-chromakopia);
}

.header__navigation_item {
  cursor: pointer;
  font-family: Merriweather Sans, sans-serif;
}

.header__title_link {
  text-decoration: none;
  color: var(--main-spotify-black);
  font-family: Merriweather Sans, sans-serif;
  place-self: center;
}

.header__title {
  display: flex;
  font-size: 45px;
  justify-content: center;
  box-sizing: border-box;
}

.header__about {
  position: relative;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: left;
}

.header__navigation {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;    
  align-items: center;
  padding: 0;
  align-self: flex-end;
}

.content_container {
  display: block;
  position: absolute; /* Remove absolute positioning */
  background: white;
  width: calc(100vw - 350px);
  /* width: 72vw; */
  height: 100vh; /* Set to viewport height */
  margin-left: 350px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.obsidian__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.obsidian__title {
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  color: var(--main-chromakopia)
}

.obsidian__graph {
  margin-top: 10px;
  width: 900px;
  border-radius: 20px;
}


.track__info {
  display: flex;
  flex-direction: row;
}

.track__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 200px;
}

.track__cover {
  width: 100px;
  border-radius: 20px;
  margin-right: 10px;
}

.track__description {
  visibility: hidden;
  flex-direction: column;
  width: 0;
  height: 0;
  background: var(--main-spotify-black);
  border-radius: 20px;
  margin-right: 50px;
  transform: translateX(-10px);
  transition: width 500ms ease-in-out;
}

.track__description.visible {
  visibility: inherit;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  width: 300px;
  height: 100px;
  transform: translateX(0);
  transition: width 900ms ease;
}

.track__title {
  font-family: "Gotham", sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--main-pure);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track__author {
  font-family: "Gotham", sans-serif;
  font-size: 15px;
  color: var(--main-pure);
  margin-top: 5px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track__played_time {
  color: var(--main-chromakopia);
  margin-left: 10px;
  margin-top: 10px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.music__title {
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--main-chromakopia)
}

.quotes__title {
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  color: var(--main-chromakopia)
}

.quotes__container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  max-width: 70vw;
  height: 600px;
  margin: auto;
}

.quotes__text {
  font-size: 20px;
  place-items: center;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.quotes__author {
  display: flex;
  position: relative;
  width: 80%;
  font-family: 'Merriweather Sans', sans-serif;
  visibility: hidden;
  transform: translateX(-10px);
  transition: transform 250ms ease-out;
}

.quotes__author.visible {
  visibility: visible;
  transform: translateX(0);
}

.quotes__rectangle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 350px; */
  
  width: 95%;
  height: 250px;
  border: grey solid 1px;
  border-radius: 5px;
  margin: auto;
}

.quotes__rectangle:hover {
  background-color: rgba(105, 107, 111, 0.107);
  transition: background-color 250ms ease;
}

.quotes__content {
  display: flex;
  position: relative;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-align: left;
}

.test_p {
  width: 500px;
}

@media (max-width: 767px) { /*major phone settings*/
  .header__rectangle {
    display: flex;
    position: relative;
    width: 100vw;
    height: 120px;
    background: rgb(243, 241, 241);
    justify-content: space-around;
  }

  .header__about {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__content_button {
    display: none;
  }

  .header__bottom--minimize-on-phone {
    padding: 0;
    margin: 0;
  }

  .header__navigation {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }
  
  .header__divider {
    display: flex;
    max-width: 300px;
    border-width: 0;
    border-radius: 20px;
    width: 50%;
    height: 2px;
    margin: 5px auto;
    background: #01823E;
  }

  .header__bottom {
    padding-top: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
  }
}

@media (min-width: 380px) and (max-width: 420px) {
  .header__rectangle {
    height: 14vh;
  }
}